.DS_Store

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
vendor/
Godeps/
.vscode/

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Environments
# .env*
.venv
env/*
venv/
ENV/
env.bak/
venv.bak/
.idea/
.idea/*

.log*/

docker-compose.*.y[a]ml

/.cache
/etc/php7
/etc/var

!*.example